<!DOCTYPE html>
<html lang="fr">
  <head>
    {% include 'commons/head.html' %}

    {% block title %}
      <title>
        {% block page_title %}
          Website
        {% endblock %}| Opensyslab
      </title>
    {% endblock %}
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <!-- Navigation -->
      {% include 'commons/navbar.html' %}
      <!-- Header -->
      {% block header %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    </main>
    {% block footer %}
      {% include 'commons/footer.html' %}
    {% endblock %}
  </body>
</html>
