
<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "commons/head.html" %}
     
    {% block title %}
        <title>{% block page_title %}Website{% endblock page_title %} | Opensyslab </title>
    {% endblock title %}
</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        {% include "commons/navbar.html" %}
        <!-- Header-->
        {% block header %}{% endblock header %}

        {% block content %}{% endblock content %}
    </main>
    {% block footer %}
        {% include "commons/footer.html" %}
    {% endblock footer %}
</body>
</html>