<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container px-5">
        <a class="navbar-brand" href="">Opensyslab</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url "home" %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "about" %}">About</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "pricing" %}">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "blog_home" %}">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "faq" %}">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">Contact</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="{% url "portfolio" %}">Portfolio Overview</a></li>
                        <li><a class="dropdown-item" href="{% url "portfolio_details" %}">Portfolio Item</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Ajout des boutons S'inscrire et Se connecter à droite avec de l'espace -->
        <div class="d-flex">
            {% comment %} <div class="me-3">
                <button class="btn btn-outline-light" type="button">S'inscrire</button>
            </div> {% endcomment %}
            <div>
                <a href="#!"><button class="btn btn-primary" type="button" >Se connecter</button></a>
            </div>
        </div>
    </div>
</nav>